<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="io.maestrano.marlin3.test.AllDashboardsTest"/>
      <class name="io.maestrano.marlin3.test.CashOnHandValueTest"/>
      <class name="io.maestrano.marlin3.test.AllKPIsOnDashboardTest"/>
      <class name="io.maestrano.marlin3.test.MarketplaceTest"/>
      <class name="io.maestrano.marlin3.test.SignOutTest"/>
      <class name="io.maestrano.marlin3.test.HideBusinessMetricTest"/>
      <class name="io.maestrano.marlin3.test.SettingsTest"/>
      <class name="io.maestrano.marlin3.test.LoginTest"/>
      <class name="io.maestrano.marlin3.test.AddModuleTest"/>
      <class name="io.maestrano.marlin3.test.DeleteKPITest"/>
      <class name="io.maestrano.marlin3.test.DeleteDashboardTest"/>
      <class name="io.maestrano.marlin3.test.NewUserRedirectionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
